/.metadata/
/joystick/Release/
/lib/
/DUMP_arduino_avr_uno_ArduinoIDE.tmp
post_processing_boards.txt
post_processing_platform.txt
pre_processing_boards.txt
pre_processing_platform.txt
/RemoteSystemsTempFiles/
/yababot/Release/
build-uno

# KDevelop
*.kdev4
